canvas {
    background: green;
    margin-top: 20px;
}

.notification {
    background-color: yellow;
    color: red;
    font-size: 16px;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 10px;
}

#dv {
    margin-bottom: 20px;
}

span {
    color: red;
    font-size: 24px;
}

#btnClose {
    text-decoration: none;
}

#invaders,
#ship {
    display: none;
}
